        * {
        font-family: 'Lucida Sans', monospace;
        color: #665544;
        box-sizing: border-box;}
        
        header h1 {
        color:#665544;
        }

        article h4 {
        text-align: center;}

        section h3 {
            font-weight: 10;
        }

        article img {
        max-width: 100%;
        height:auto;}

        nav, #feature, footer {
        margin: 1%; }

        nav li {
        display: inline;
		padding: 0.5em;
        color: #665544;
        }

        .row-color-1 {
            background-color:#e7b7a0;
        }

        h2 {
            color:#f3ede1;
        }
        